@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

:root {
    --primary: 58, 111, 156;
    --secondary: 109, 159, 206;
    --third: 8, 43, 84;
    --white: 255, 255, 255;
    --black: 0, 0, 0;
    --error: 192, 66, 66;
  }
  